.wrap {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.sidebar {
  width: 100%;
  background-color: transparent;
  padding: 5px;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
}
.right {
  width: 80% !important;
  padding: 20px;
  display: grid;
  height: max-content;
  grid-template-columns: 1fr 1fr 1fr;
  box-sizing: border-box;
}
.main {
  width: 100% !important;
  padding: 20px;
  height: max-content;
  box-sizing: border-box;
}
.product {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  width: 100%;
}
.product img {
  width: 100%;
  max-width: 100%;
  height: 250px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.product h5 {
  font-size: 17px;
  font-weight: 600;
  position: relative;
  bottom: 10px;
}
.product .price {
  position: relative;
  color: #b12704;
  margin-bottom: 6px;
  font-weight: bold;
  font-size: 20px;
  bottom: 17px;
}
.product .rating {
  color: #ffa41c;
  position: relative;
  bottom: 35px;
}
.product button {
  background-color: #ffa41c;
  border: 1px solid #ffa41c;
  width: 140px;
  height: 33px;
  font-weight: 600;
  font-size: 13px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  position: relative;
  border-radius: 50px;
  bottom: 60px;
}
.margin {
  margin: 0 10px 10px 10px;
  height: 230px;
}
.sidebar h3 {
  font-size: 25px;
  font-weight: 700;
}
.sidebar ul {
  right: 17px;
  position: relative;
}
.sid li {
  list-style: none;
  cursor: pointer;
  font-size: 14px;
}
.sid li:hover {
  color: #f3a847;
}
.sid li:nth-child(1) {
  right: 20px;
  position: relative;
}
.sid li:nth-child(7) {
  right: 20px;
  position: relative;
}
.sidebar h2 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 5px;
}
.sidebar .rating {
  color: #f3a847;
  font-size: 25px;
  position: relative;
  bottom: 15px;
}
.up {
  font-size: 12px;
  font-weight: 500;
  position: relative;
  bottom: 17px;
  margin-left: 5px;
}
.upp {
  font-size: 12px;
  font-weight: 500;
  position: relative;
  bottom: 17px;
  margin-left: 5px;
}
.sidebar h4 {
  font-size: 20px;
  font-weight: 700;
  position: relative;
  bottom: 30px;
}
.sidebar ul li {
  list-style: none;
}
.right-1 li {
  right: 17px;
  position: relative;
  position: relative;
  bottom: 30px;
}
.price-range {
  display: flex;
  align-items: center;
  position: relative;
  bottom: 30px;
}
.price-range input[type="range"] {
  flex: 1;
  margin: 0 10px;
  border-radius: 10px;
}
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 8px;
  background-color: #f3a847 !important;

  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #f3a847;
  cursor: pointer;
  border-radius: 50%;
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #f3a847;
  cursor: pointer;
  border-radius: 10px;
}

.price-range span {
  font-size: 14px;
  font-weight: 700;
}
.rig li {
  position: relative;
  right: 20px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}
.rig li:hover {
  text-decoration: underline;
}
.color-options {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
}
.color-options div {
  width: 20px;
  height: 20px;
  margin: 2px;
  border-radius: 2px;
  border: 1px solid #ccc;
  cursor: pointer;
}
.rig li input {
  margin-right: 3px;
  top: 2px;
  position: relative;
}
.sponser {
  font-size: 10px;
  color: grey;
  font-weight: 600;
  position: relative;
  bottom: 10px;
  cursor: pointer;
}

.sponser i {
  font-size: 13px;
  position: relative;
  top: 1px;
}
.bought {
  font-size: 10px;
  color: grey;
  font-weight: 600;
  position: relative;
  bottom: 10px;
  cursor: pointer;
  position: relative;
  bottom: 20px;
}
.rating span {
  color: grey;
  font-weight: 600;
  font-size: 12px;
}
.up {
  position: relative;
  bottom: 50px;
  right: 4px;
  font-size: 13px !important;
}
.loading {
  position: absolute;
  top: 45%;
  left: 50%;
}
.loading img {
  width: 15%;
  margin: auto;
}
/* Responsive Styles */
@media (min-width: 768px) {
  .sidebar {
    width: 20%;
    border-bottom: none;
    border-right: 1px solid #ccc;
  }
}

@media (max-width: 767px) {
  .product {
    width: calc(50% - 40px);
  }
}

@media (max-width: 480px) {
  .product {
    width: calc(100% - 40px);
  }
}
