.blockbuster_deals {
  height: 360px;
}

.blockbuster_deals > div > div:last-child {
  width: 100%;
  display: flex;
  height: 290px;
  overflow-y: hidden;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.blockbuster_deals > div > div:last-child::-webkit-scrollbar {
  background-color: rgb(255, 255, 255);
  height: 10px;
  border-radius: 50px;
}

.blockbuster_deals > div > div:last-child::-webkit-scrollbar-button {
  display: none;
}

.blockbuster_deals > div > div:last-child::-webkit-scrollbar-thumb {
  background-color: rgb(183, 183, 183);
  border-radius: 50px;
}

.blockbuster_deals a img {
  height: 180px;
  width: 200px;
  margin: 0 10px 0px 10px;
  padding-bottom: 8px;
  padding: 0 40px;
}

.blockbuster_deals > div > div > div {
  width: 290px;
  height: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5px;
}

.blockbuster_deals div button {
  color: white;
  background-color: #cc0c39;
  border: 1px solid #cc0c39;
  border-radius: 2px;
  padding: 5px 8px;
  margin-top: 10px;
}

.blockbuster_deals > div > div > div > div > div:last-child > span {
  color: black;
  font-size: 12px;
  position: relative;
  font-weight: 700;
  bottom: 8px;
}
.box2 h2 {
  font-size: 21px;
  display: block;
  font-weight: 700;
  margin: 10px;
}

.box2 div span {
  color: #007185;
  cursor: pointer;
  font-weight: 700;
}
.box2 div span:hover {
  text-decoration: underline;
}
.left_img_button {
  left: 10px;
}
#slideButton-b {
  cursor: pointer;
  position: sticky;
  background-color: white;
  color: black;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.594);
  height: 5vw;
  width: 3vw;
  height: 2rem;
  width: 1rem;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 60px;
  font-size: 1.75rem;
  padding: 10px;
}
#slideButton-b {
  top: 90px;
}
.box2 {
  background-color: white;
  color: black;
  padding-left: 15px;
  padding-right: 15px;
  margin: 10px 10px 10px;
}

.box2 > div > div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blockbuster_deals > div > div > div > div > div:first-child > span:last-child {
  color: red;
  font-weight: bold;
  display: block;
}
.right_img_button {
  right: 10px;
}

.kaam img {
  width: 320px !important;
  margin-left: 40px !important;
}
.width {
  height: 285px !important;
}

@media (max-width: 768px) {
  .box2 > div > div:first-child {
    height: 50px;
    padding: 10px 20px 10px 10px;
  }

  .box2 > div > div:first-child h2 {
    font-size: 1.3rem;
    line-height: -10px;
    line-height-step: 10px;
  }
}

@media (max-width: 425px) {
  .box2 > div > div:first-child {
    height: 50px;
    padding: 10px 20px 10px 10px;
  }

  .box2 > div > div:first-child h2 {
    font-size: 1.2rem;
    line-height: -10px;
    line-height-step: 10px;
  }
}
@media (max-width: 425px) {
  #slideButton i,
  #slideButton-s i,
  #slideButton-b i {
    font-size: 0.75rem;
  }
  #slideButton-s,
  #slideButton-b {
    padding: 1px 7px;
  }
}
@media (max-width: 768px) {
  #slideButton i,
  #slideButton-s i,
  #slideButton-b i {
    font-size: 0.95rem;
  }
  #slideButton-s,
  #slideButton-b {
    padding: 2px 8px;
  }
}

@media (max-width: 600px) {
  .blockbuster_deals a img {
    height: 160px;
  }
  .box2 {
    height: max-content;
  }
  .blockbuster_deals > div > div:last-child {
    height: max-content;
  }
  .sm {
    padding-bottom: 17px;
    height: 185px !important;
  }
}
