.header {
  height: 70px !important;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__logo {
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 18px;
}

.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
}

.header__searchInput {
  height: 37.5px !important;
  padding: 10px;
  border: none;
  width: 100%;
  z-index: 1000;
  position: relative;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.header__searchIcon {
  width: 4% !important;
  padding: 5px;
  height: 38.5px !important;
  background-color: #f3a847;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__optionLineOne {
  font-size: 10px;
}

.header__optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}

.header__optionBasket {
  display: flex;
  align-items: center;
  color: white;
}
.header__optionBasket i {
  font-size: 20px !important;
}
.header__basketCount {
  margin-left: 5px;
  margin-right: 10px;
  font-size: 17px;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
}

.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  margin-top: 8px;
}
.loc {
  color: white;
  width: 8%;
}
.loc-1 :nth-child(1) {
  text-align: center;
}
.loc-1 :nth-child(2) {
  font-size: 18px;
  font-weight: 700;
}
.loc-1 span {
  display: block;
  font-size: 14px;
  line-height: 15px;
}
.cart {
  font-weight: 800;
  margin-right: 15px;
  font-size: 16px;
  margin-top: 15px;
}
.go-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.go-to-top-button {
  background-color: #f3a847;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-size: 24px;
  height: 44px;
  width: 44px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: opacity 0.4s ease;
}

.go-to-top-button:hover {
  background-color: black;
}

/* Modal CSS */

body.active-modal {
  overflow-y: hidden;
  margin-right: 16px;
}

.modal {
  margin: 20px !important;
}
.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 10000;
  transition: 1s;
}
.overlay {
  background-color: rgb(49, 49, 49, 0.8);
}
.modal {
  display: inline;
}
.modal-content {
  position: absolute;
  height: 65vh;
  transition: 1s;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background-color: #ffffff;
  padding: 14px 28px;
  border-radius: 20px;
  max-width: 600px;
  min-width: 300px;
  z-index: 10000000;
}

.modal-content span p label {
  cursor: pointer;
}
.modal-content span {
  position: relative;
  top: 40px;
}

.close-modal {
  position: absolute;
  border-top-right-radius: 20px;
  top: 11px;
  right: 0px;
  cursor: pointer;
  border: none;
  position: absolute;
  transform: translate(0%, -50%);
  background-color: #f94242;
  margin-top: 10px;
  width: 53px;
  height: 44px;
  text-decoration: none;
  font-size: 28px;
  color: rgb(255, 255, 255);
}
