@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700,600");

nav {
  display: flex;
  height: 80px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #131921;
  align-items: center;
  color: rgb(0, 0, 0);
  justify-content: space-evenly;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
  z-index: 100;
}
/* Existing CSS */
.logoo {
  position: relative;
  right: 50px;
  cursor: pointer;
  width: 10%;
}
.logoo img {
  width: 100%;
}
.btn-login {
  font-weight: 500;
  border: none;
  background: transparent;
  color: green;
  font-size: 18px;
  cursor: pointer;
}
.btn-signup {
  padding: 6px;
  width: 82px;
  color: white;
  background-color: #43a046;
  border: none;
  font-size: 14px;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}
nav .logo {
  color: #fff;
  font-size: 40px;
  display: none;
  font-weight: 600;
}
nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
/* nav ul li {
  margin: 0 5px;
  cursor: pointer;
  position: relative;
  z-index: 100000;
} */

/* nav ul li {
  position: relative;
  color: #263238;
  text-decoration: none;
  font-size: 17px;
  font-weight: 500;
  padding: 10px;
  border-radius: 5px;
  letter-spacing: 1px;
} */

/* nav ul li::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #43a046;
  transition: width 0.5s ease;
} */

/* nav ul li:hover::before {
  width: 100%;
} */
nav .menu-btn i {
  color: #000;
  font-size: 22px;
  cursor: pointer;
  display: none !important;
}
input[type="checkbox"] {
  display: none;
}
.home {
  text-decoration: underline;
}
.btn-main {
  display: flex;
  gap: 30px;
}
.show {
  display: none;
}
@media (max-width: 1150px) {
  nav {
    padding: 0 40px 0 50px;
  }
}

@media (max-width: 1150px) {
  .hide {
    display: none;
  }
  .show {
    display: inline;
  }

  nav .menu-btn i {
    top: 27px;
    position: absolute;
    right: 6%;
    display: block !important;
  }
  .logoo {
    position: relative;
    right: 0;
  }
  #click:checked ~ .menu-btn i:before {
    content: "\f00d";
  }

  nav {
    padding: 17px;
    align-items: center;
    display: flex;
    justify-content: flex-start;
  }
  nav ul {
    position: absolute;
    top: 69px;
    left: -100%;
    background: whitesmoke;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
    z-index: 100;
    padding-left: 0;
  }
  #click:checked ~ ul {
    left: 0;
  }
  nav ul li {
    width: 100%;
    margin: 22px 0;
  }
  nav ul li {
    margin-left: -100%;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li {
    margin-left: 0px;
  }
  nav ul li.active,
  nav ul li:hover {
    background: none;
    color: rgb(0, 0, 0);
  }
  nav .logo {
    display: block;
  }
  .logo {
    display: none;
  }
  .logo {
    display: inline-block;
  }
}
/* .loc {
  color: white;
  width: 8%;
}
.loc-1 :nth-child(1) {
  text-align: center;
}
.loc-1 :nth-child(2) {
  font-size: 18px;
  font-weight: 700;
}
.loc-1 span {
  display: block;
  font-size: 14px;
  line-height: 15px;
}
.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
}

.header__searchInput {
  height: 37.5px !important;
  padding: 10px;
  border: none;
  width: 100%;
  z-index: 1000;
  position: relative;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.header__searchIcon {
  width: 4% !important;
  padding: 5px;
  height: 38.5px !important;
  background-color: #f3a847;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  margin-top: 8px;
}
.header__optionLineOne {
  font-size: 10px;
}

.header__optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}

.header__optionBasket {
  display: flex;
  align-items: center;
  color: white;
  cursor: pointer;
}
.header__optionBasket i {
  font-size: 20px !important;
} */
.header {
  height: 70px;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__logo {
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 18px;
}

.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
}

.header__searchInput {
  height: 37.5px !important;
  padding: 10px;
  border: none;
  width: 100%;
  position: relative;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-left: 15px;
}

.header__searchIcon {
  padding: 5px;
  height: 37.5px !important;
  background-color: #f3a847;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.header__optionLineOne {
  font-size: 10px;
}

.header__optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}

.header__optionBasket {
  display: flex;
  align-items: center;
  color: white;
  cursor: pointer;
}
.header__optionBasket i {
  font-size: 20px !important;
}
.header__basketCount {
  margin-left: 5px;
  position: relative;
  margin-right: 10px;
  font-size: 17px;
  right: 42px;
  bottom: 10px;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
}

.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  margin-top: 8px;
}
.loc {
  color: white;
}
.loc-1 :nth-child(1) {
  text-align: center;
}
.loc-1 :nth-child(2) {
  font-size: 18px;
  font-weight: 700;
}
.loc-1 span {
  display: block;
  font-size: 14px;
  line-height: 15px;
}
.cart {
  font-weight: 800;
  margin-right: 15px;
  font-size: 16px;
  position: relative;
  margin-top: 15px;
  right: 39px;
  top: 3px;
}
.go-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.go-to-top-button {
  background-color: #f3a847;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-size: 24px;
  height: 44px;
  width: 44px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: opacity 0.4s ease;
}

.go-to-top-button:hover {
  background-color: black;
}

.cartimg img {
  width: 45px;
  margin-right: 10px;
}

.pak {
  display: none;
}
.dotpro i {
  font-size: 20px;
  margin-right: 5px;
  margin-left: 10px;
}
.dotpro {
  font-size: 14px;
  font-weight: 600;
}
.head-2 {
  display: none;
}
@media (max-width: 1200px) {
  .header__searchInput {
    width: 90%;
  }
}
@media (max-width: 800px) {
  .loc-1 :nth-child(2) {
    font-size: 13px;
    font-weight: 800;
  }
  .cart {
    margin-right: 15px;
    font-size: 13px;
  }

  .header__optionBasket i {
    font-size: 16px !important;
  }
  .header__option {
    margin-left: 3px;
    margin-right: 6px;
  }
  .header__optionLineTwo {
    font-size: 10px;
  }
  .header__search {
    margin-right: 10px;
  }
  .loc-1 :nth-child(2) {
    font-size: 10px;
  }
  .loc-1 :nth-child(1) {
    font-size: 9px;
  }
  .header__logo {
    width: 87px;
    margin: 0 16px;
    margin-top: 18px;
  }
  .cart {
    right: 29px;
  }
  .header__basketCount {
    font-size: 15px;
    margin-right: 2px;
    right: 42px;
  }
}
@media (max-width: 600px) {
  .header__search,
  .loc,
  .hide,
  .cart {
    display: none;
  }
  .header {
    height: 55px;
  }

  .pak {
    width: 100%;
    color: white;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: #37475a;
    height: 40px;
  }

  .header__basketCount {
    position: absolute;
    right: 26px;
    bottom: 30px;
  }
  .cartimg {
    position: absolute;
    right: 0;
  }
  .header__option {
    position: absolute;
    right: 60px;
    bottom: 12px;
    text-align: center;
  }
  .head-2 {
    display: flex;
    align-items: center;

    width: 100%;
    background-color: #131921;
    height: 70px;
  }
  .inp-2 {
    margin-left: 25px;
  }
  .s-2 {
    margin-right: 20px;
  }
}
/* Modal CSS */

body.active-modal {
  overflow-y: hidden;
  /* margin-right: 16px; */
}

.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  transition: 1s;
}
.overlay {
  background-color: rgb(49, 49, 49, 0.8);
}
.modal {
  display: inline;
}
.modal-content {
  position: absolute;
  height: 70vh;
  transition: 1s;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background-color: #ffffff;
  padding: 14px 28px;
  border-radius: 20px;
  max-width: 90%;
  z-index: 10000000;
}

.modal-content span p label {
  cursor: pointer;
}
.modal-content span {
  position: relative;
  top: 40px;
}

.close-modal {
  position: absolute;
  border-top-right-radius: 20px;
  top: 12px;
  right: 0px;
  cursor: pointer;
  border: none;
  position: absolute;
  transform: translate(0%, -50%);
  background-color: #f3a847;
  margin-top: 10px;
  width: 53px;
  height: 44px;
  text-decoration: none;
  font-size: 28px;
  color: rgb(255, 255, 255);
}

strong {
  font-weight: bold;
}

img,
.basket-module,
.basket-labels,
.basket-product {
  width: 100%;
}
.basket ul li {
  color: #111;
  display: inline-block;
  padding: 0.625rem 0;
  font-weight: 600;
}
.basket ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.basket,
.basket-module,
.basket-labels,
.item,
.price-1,
.quantity,
.subtotal,
.basket-product,
.product-image,
.product-details {
  float: left;
}

.m-1 {
  clear: both;
  font-size: 0.75rem;
  margin: 0 auto;
  overflow: hidden;
  padding: 1rem 0;
  width: 960px;
}

.basket,
aside {
  padding: 0 1rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.basket {
  width: 70%;
  height: 60vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.basket-module {
  color: #111;
}

.promo-code-field {
  border: 1px solid #ccc;
  padding: 0.4rem;
  text-transform: uppercase;
  border-radius: 5px;
  margin-left: 10px;
  transition: all 0.2s linear;
  width: 48%;
  -o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.basket-module label {
  font-size: 16px;
  font-weight: 600;
}
.promo-code-field:hover,
.promo-code-field:focus {
  border: 1px solid #999;
}

.promo-code-cta {
  border-radius: 4px;
  font-size: 14px;
  margin-left: 0.625rem;
  width: 70px;
  height: 34px;
  font-weight: 600;
  letter-spacing: 0.5px;
  background-color: #f3a847;
  color: white;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}

.basket-labels {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-top: 1.625rem;
}

.item {
  width: 55%;
}

.price-1,
.quantity,
.subtotal {
  width: 15%;
}

.subtotal {
  text-align: right;
}

.remove {
  bottom: 1.125rem;
  float: right;
  position: absolute;
  right: 0;
  text-align: right;
  width: 45%;
}

.remove button {
  background-color: transparent;
  color: #777;
  float: none;
  text-decoration: underline;
  text-transform: uppercase;
}

.item-heading {
  padding-left: 4.375rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.basket-product {
  border-bottom: 1px solid #ccc;
  padding: 1rem 0;
  position: relative;
}

.product-image {
  width: 35%;
}

.product-details {
  width: 65%;
}
.product-details h4 {
  font-size: 16px;
}
.product-details :nth-child(3) {
  font-size: 12px;
  position: relative;
  font-weight: 700;
  bottom: 12px;
}
.product-frame {
  border: 1px solid #aaa;
}

.product-details {
  padding: 0 1.5rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.quantity-field {
  background-color: #ebebeb;
  border: 1px solid #aaa;
  border-radius: 4px;
  font-size: 12px;
  padding: 2px;
  width: 3.75rem;
}

aside {
  float: right;
  position: relative;
  width: 30%;
  top: 10%;
}

.summary {
  background-color: #eee;
  border: 1px solid #aaa;
  padding: 1rem;
  position: fixed;
  width: 250px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 14px;
}

.summary-total-items {
  color: #666;
  font-size: 0.875rem;
  font-weight: 700;
  font-variant-caps: all-petite-caps;
  text-align: center;
}

.summary-subtotal,
.summary-total {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  clear: both;
  margin: 1rem 0;
  overflow: hidden;
  padding: 0.5rem 0;
  font-variant-caps: all-petite-caps;
}

.subtotal-title,
.subtotal-value,
.total-title,
.total-value,
.promo-title,
.promo-value {
  color: #111;
  float: left;
  width: 50%;
  font-weight: 600;
}

.summary-promo {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.promo-title {
  float: left;
  width: 70%;
}

.promo-value {
  color: #8b0000;
  float: left;
  text-align: right;
  width: 30%;
}

.summary-delivery {
  padding-bottom: 3rem;
}

.subtotal-value,
.total-value {
  text-align: right;
}

.total-title {
  font-weight: bold;
  text-transform: uppercase;
}

.summary-checkout {
  display: block;
}

.checkout-cta {
  display: block;
  float: none;
  font-size: 0.75rem;
  text-align: center;
  text-transform: uppercase;
  padding: 0.625rem 0;
  width: 100%;
  background-color: #f3a847;
  color: white;
  font-weight: 600;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 2px;
}

.summary-delivery-selection {
  background-color: #ccc;
  border: 1px solid #aaa;
  border-radius: 4px;
  display: block;
  font-size: 0.625rem;
  height: 34px;
  width: 100%;
}
.empty {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  position: relative;
  top: 20%;
}

@media screen and (max-width: 640px) {
  aside,
  .basket,
  .summary,
  .item,
  .remove {
    width: 85%;
  }
  .basket {
    position: relative;
    width: 100% !important;
    top: 38%;
  }
  .modal-content {
    position: absolute;
    height: 85vh;
    overflow: hidden;
  }
  .summary-delivery {
    padding-bottom: 0 !important;
  }
  .basket-labels {
    display: none;
  }
  .basket-module {
    display: none;
  }
  .item {
    margin-bottom: 1rem;
  }
  .product-image {
    width: 40%;
  }
  .product-details {
    width: 60%;
  }
  .price-1,
  .subtotal {
    width: 33%;
  }
  .quantity {
    text-align: center;
    width: 34%;
  }
  .quantity-field {
    float: none;
  }
  .remove {
    bottom: 0;
    text-align: left;
    margin-top: 0.75rem;
    position: relative;
  }
  .remove button {
    padding: 0;
  }
  .summary {
    margin-top: 1.25rem;
    bottom: 538px;
    position: relative;
    width: 486px;
    border-top-left-radius: 20px;
    right: 123px;
    border-top-right-radius: 20px;
  }
}
@media screen and (max-width: 500px) {
  .summary {
    margin-top: 1.25rem;
    bottom: 620px;
    position: relative;
    width: 353px;
    border-top-left-radius: 20px;
    right: 106px;
    border-top-right-radius: 20px;
  }
  .basket {
    top: 36%;
    padding-bottom: 90px;
  }
}
@media screen and (min-width: 641px) and (max-width: 960px) {
  aside {
    padding: 0 1rem 0 0;
  }
  .summary {
    width: 28%;
  }
}

@media screen and (max-width: 960px) {
  .m-1 {
    width: 100%;
  }
  .product-details {
    padding: 0 1rem;
  }
}
.modal-content-1 {
  position: absolute;
  height: 70vh;
  transition: 1s;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background-color: #ffffff;
  padding: 14px 28px;
  border-radius: 20px;
  max-width: 90%;
  z-index: 10000000;
}

.login_form,
.signUp_account,
.email_login {
  background-color: #131921;
  width: 400px;
  height: auto;
  padding: 25px 0;
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  margin: auto;
}
#login,
#signUp {
  position: absolute;
  transition: 1s;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  border-radius: 20px;
  z-index: 10000000;
}
.login_form h1 {
  margin: 15px 10px 10px 10px;
  font-weight: 800;
  font-size: 27px;
}

.login_form button {
  background: #fff;
  padding: 10px 30px;
  text-decoration: none;
  color: #ffffff;
  border: 2px solid #ffffff;
  width: 80%;
  display: flex;
  background: none;
  align-items: center;
  justify-content: flex-start;
  font-weight: 700;
  font-size: 17px;
  margin: 10px;
  text-align: left;
  border-radius: 5px;
  cursor: pointer;
}

.login_form button img {
  width: 27px;
  text-align: left;
  margin-right: 35px !important;
}

.login_form p {
  font-size: 14px;
  text-align: center;
  width: 230px;
  margin-top: 20px;
}
.modal-logo {
  width: 30%;
}
.m-l {
  width: 100%;
  height: 60px;
}
.swal2-container {
  z-index: 99999999 !important;

  background-color: transparent !important;
}
.swal2-confirm {
  background-color: #f3a847 !important;
}
.signUp h3 {
  margin: 15px;
  font-size: 17px;
  font-weight: 400;
}

.signUp p {
  font-size: 12px;
  margin: 20px;
  text-align: center;
  width: 250px;
}

.next_button {
  background-color: #f3a847;
  padding: 10px 30px;
  width: 80%;
  color: #fff;
  border: 1px solid #012f34;
  font-size: 17px;
  border-radius: 5px;
  margin-top: 22px;
  cursor: pointer;
}

.signUp input {
  width: 80%;
  background-color: #fff;
  border: 1px solid #012f34;
  border-radius: 5px;
  color: #012f34;
  padding: 10px 30px;
  margin: 8px;
  font-size: 17px;
}
.icons_flex {
  display: flex;
  align-items: end;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  position: absolute;
  top: 10px;
}

.icons_flex i {
  font-size: 30px;
  cursor: pointer;
  padding-top: 10px;
  padding-left: 20px;
}

.icons_flex i:first-child {
  margin-top: -15px;
}
.signUp_account img {
  width: 40%;
  margin-bottom: 5px;
}
.signUp input {
  width: 80%;
  background-color: #fff;
  border: 1px solid #012f34;
  border-radius: 5px;
  color: #012f34;
  padding: 10px 30px;
  margin: 8px;
  font-size: 17px;
}
.signUp,
.login_email {
  width: 100%;
  height: 95vh;
  position: fixed;
  align-items: center;
  top: 20px;
  justify-content: center;
  z-index: 999;
}
