body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 70px !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* Style the scrollbar track (the part the scrollbar moves along) */
::-webkit-scrollbar {
  scroll-behavior: smooth !important;
  cursor: pointer;
}

/* Style the scrollbar handle (the draggable part) */
::-webkit-scrollbar-thumb {
  background: #f3a847;
  border-radius: 2px; /* Rounded corners for the handle */
  cursor: pointer;
}
body.active-modal {
  overflow-y: hidden !important;
}
body.active-modal-1 {
  overflow-y: hidden !important;
}
body.active-modal-2 {
  overflow-y: hidden !important;
}
body.active-modal-3 {
  overflow-y: hidden !important;
}
.notFound {
  display: flex;
  width: 100%;
  height: 40vh;
  justify-content: center;
  align-items: center;
}
.notFound h1 {
  font-weight: 700;
  text-decoration: underline;
}
div:where(.swal2-container) div:where(.swal2-popup) {
  background-color: #e7e7e7 !important;
}
